header img{
    width: 100%; /* this keeps the image 100% of the view port*/
    height: auto; /*change the height depending on the view port*/

}

nav ul li {
    list-style: none;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
}

main{
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    margin-bottom: 10px;
}


footer{
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
}
