body{
    background-image: linear-gradient(white, black) ;
}
header img{
    width: 100%; /* this keeps the image 100% of the view port*/
    height: auto; /*change the height depending on the view port*/
    max-width: 800px;
}
nav{
    background-color: cadetblue;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    border-radius: 1.0em; 

    font-weight: bold;
    text-align: center;
}

nav ul{
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav ul li {
    background-color: brown;
    padding: 1em;
    min-width: 12%;
    margin: 0.25em;
    list-style: none; /*removes the bullet points form unordered list*/


}

figure{
    text-align: center;

}
figure img{
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: auto;

}
main{
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    margin-bottom: 10px; /*adds margin space between elements */
    border-radius: 1.0em;
    background-color: cadetblue;
}

main div .row:after{
    content: "";
    display: table;
    clear: both;
}

main div .row.column{
    float:left;
}
main div .row.column.left{
    float: left;
}


main div .row.column.center{
    padding: 10px;
}

main div .row.column.right{
    float:right;
}
footer{
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    border-radius: 1.0em;
    background-color: cadetblue;
}

nav ul li a{
    color: white;
    text-decoration: none; /*remove underline from hyperlink*/
}



/*mobile media screen*/
@media screen and (max-width: 639px) {
    nav ul li {
        border-radius: 1em;
    }
    .tablet{
        display:none;
    }
}
/*end mobile media screen*/
/*tablet viewport*/
@media screen and (min-width: 640px){

    nav ul li{
        display: inline-block; /*this list items horizontally and allows them to stretch*/
        border-radius: 1em;
    }

  
}
/*end of tablet viewport*/
/* desktop view port */
@media screen and (min-width: 960px){

    header img{
        width: auto;
        height: 4.5em;
    }
    nav {
        float: right; /*this floats the nav element to the right side of the page*/
        margin-top: -4.7em; /*this moves the nav element above where it would normally be*/
        width: 60%;
    }

    nav ul li{
        display: inline-block; /*this list items horizontally and allows them to stretch*/
        border-radius: 1em;
    }
}
/*end of desktop viewport*/